@model MobileTVGuide.Models.Guide

@{
    ViewBag.Title = "Browsing TV Schedule by Channel";
}

<h1>Browsing by Channel</h1>

<ul data-role="listview" data-inset="true" data-filter="true">
@foreach (var channel in Model.Channels)
{
    <li>@channel.Key
        <ul>
            @foreach (var show in channel.Value.Shows)
            {
                <li>@show.StartTime: @show.Name</li>
            }
        </ul>
    </li>
}
</ul>
