@model MobileTVGuide.Models.Guide

@{
    ViewBag.Title = "Browsing TV Schedule by Timeslot";
}

<h1>Browsing by Timeslot</h1>

<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search shows...">
@foreach (var category in Model.Category)
{
    <li data-role="list-divider">@category.Key</li>
    foreach (var show in category.Value.Shows)
    {
        <li>
            <h2>@show.Name</h2>
            <p>@show.Description</p>
            <p class="ui-li-aside">@show.ChannelName</p>
        </li>
    }
}
</ul>
