@{
    ViewBag.Title = "TV Schedule";
}
<h1>Browse Schedules</h1>
<ul data-role="listview" data-inset="true">
    <li><a href="guide" id="byChannel">By Channel</a></li>
    <li><a href="guide" id="byTime">By Time</a></li>
</ul>