@{
    ViewBag.Title = "Home Page";
}

<h2>Tonight's Schedule</h2>

<ul>
@foreach (var channel in Model.Channels)
{
    <li>@channel.Key
        <ul>
            @foreach (var show in channel.Value.Shows)
            {
                <li>@show.StartTime: @show.Name</li>
            }
        </ul>
    </li>
}
</ul>
