@{
    ViewBag.Title = "TV Schedule";
}
<h1>Browse Schedules</h1>
<ul data-role="listview" data-inset="true">
    <li>@Html.RouteLink("By Channel", "GuideChannel")</li>
    <li>@Html.RouteLink("By Timeslot", "GuideTimeslot")</li>
</ul>